<!-- <nav class="navbar navbar-dark " style="background-color: #161621 !important">
  <a class="navbar-brand" href="#"><span>Super</span> <span style="color: #1e80c5;">Bot</span></a>
 


  </nav> -->

  <div style="background-color: #161621 !important;width:auto;height:50px">
     <div style="float:left;height:50px;width:100px;margin-left:20px">
      <a class="navbar-brand" href="#"><span style="color: #007cc3;">Infosys</span><span style="color:#ffffff"> Resource</span> <span style="color: #007cc3;">&nbsp;Configuration</span></a>
     </div>
     <div style="float:right;height:50px;width:100px">
      <i  class="img-help" style="cursor: pointer;"></i>
     
      <i  class="img-notification" style="margin-top: 10px;
      margin-left: 10px;cursor: pointer;"></i>
       <!-- <i  class="img-profile" ></i> -->
      
     </div>
  </div>
  