<?xml version="1.0" encoding="utf-8"?>
<!--
  /****************************************************************
Copyright 2021 Infosys Ltd. 
Use of this source code is governed by Apache License Version 2.0 that can be found in the LICENSE file or at 
http://www.apache.org/licenses/
 ***************************************************************/
 -->

<Processes xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Process Id ="MetricProcessor" Dll="Infosys.Ainauto.Superbot.Processes.dll"
          FullClassName="Infosys.Solutions.Ainauto.Processes.MetricProcessor"
          Mode="Queue"
          EntityToBeWatched="metric" />
  <Process Id ="RemediationProcessor" Dll="Infosys.Ainauto.Superbot.Processes.dll"
          FullClassName="Infosys.Solutions.Ainauto.Processes.SelfHealing"
          Mode="Queue"
          EntityToBeWatched="anomaly" />
  <Process Id ="NotificationHandler" Dll="Infosys.Ainauto.Superbot.Processes.dll"
          FullClassName="Infosys.Solutions.Ainauto.Processes.Notification"
          Mode="Queue"
          EntityToBeWatched="notification" />
</Processes>
