<?xml version="1.0" encoding="utf-8" ?>

<!-- Root element -->
<!-- LoaderClass contains dll path of loader -->
<!-- LoaderType contains full name of loader class -->
<DataLoaderSettings LoaderClass="CustomLoader.dll" LoaderType ="Infosys.Lif.CustomLoader.XmlDataLoader">
  
  <!-- Entity contains detail of each entity along with test data sections -->
  <!-- Name : user friendly name of object -->
  <!-- ClassName : strong name of class containing that object -->
  <!-- DefaultSource : file to be loaded in case of no filter conditions-->
  <Entity 
    Name = ""
    ClassName = ""
    DefaultSource = "">

    <!-- Test Data contains particular condition n corresponding file to load object from-->
    <!-- Filter : a particular condition in form of string -->
    <!-- FileName : file to be loaded for that particular condition -->
    <TestData
	    Filter = ""
	    FileName = "">
    </TestData>
    <TestData
        Filter = ""
        FileName = "">
    </TestData>
  </Entity>
  <Entity 
    Name = ""
    ClassName = ""
    DefaultSource = "">
    <TestData
	    Filter = ""
	    FileName = "">
    </TestData>
  </Entity>
</DataLoaderSettings>
