<?xml version="1.0" encoding="utf-8"?>
<!--Copyright 2021 Infosys Ltd. 
Use of this source code is governed by Apache License Version 2.0 that can be found in the LICENSE file or at 
http://www.apache.org/licenses/-->
<packages>
  <package id="ConfigLoader" version="1.0.1" targetFramework="net461" developmentDependency="true" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
</packages>