<?xml version="1.0" encoding="utf-8"?>
<LIConfiguration>
	<xmlSerializerSection type="Infosys.Lif.LegacyIntegratorService.LISettings,Infosys.Lif.LegacyIntegratorService,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
		<LISettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<!--<DefaultTLSTransport>
				<Name></Name>
			</DefaultTLSTransport>-->
			<HostRegion>
				<Region>
					<Name>TEST</Name>
					<TransportMedium>IBMMQ</TransportMedium>
					<TransportName>ibmmq1</TransportName>
					<CommunicationType>Sync</CommunicationType>
				</Region>
				<Region>
					<Name>TEST1</Name>
					<TransportMedium>IBMMQ</TransportMedium>
					<TransportName>ibmmq1</TransportName>
					<CommunicationType>Sync</CommunicationType>
				</Region>
				<Region>
					<Name>HIS</Name>
					<TransportMedium>HIS</TransportMedium>
					<TransportName>his1</TransportName>
					<CommunicationType></CommunicationType>
				</Region>
			</HostRegion>
			<IBMMQ>
				<DllPath>C:\LegacyIntegration\Develop\Phase1\Source\LegacyIntegrator\MQAdapter\bin\Debug\Infosys.Lif.IBMMQ.dll</DllPath>
				<TypeName>Infosys.Lif.IBMMQ.MQAdapter</TypeName>
				<!-- Indicates maximum time a queue manager object can remain inactive be in a pool -->
				<ActiveTimeForConnection>20000</ActiveTimeForConnection>
				<!--Indicates time interval that MQPoolManager should pool frequently to check whether there
				are any opened MQQueueManager object that is inactive for time more than ActiveTimeForConnection.-->
				<TimeFrequencyForPool>10000</TimeFrequencyForPool>
				<Connection>
					<ConnectionModel>ConnectionPool</ConnectionModel>
					<Pooling>
						<MinSize>2</MinSize>
						<MaxSize>4</MaxSize>
					</Pooling>
					<ConnectionTimeOut>1000</ConnectionTimeOut>
				</Connection>
				<IBMMQDetails>
					<TransportName>ibmmq1</TransportName>
					<!-- Defines the channel name where the request is send-->
					<ChannelName>MTC_SERVER_CONN</ChannelName>
					<!-- Defines the connection name-->
					<ConnectionName>192.168.100.74</ConnectionName>
					<!-- Defines the port number -->
					<Port>1414</Port>
					<!-- Defines the queue manager name-->
					<QueueManager>CSQ1</QueueManager>
					<!--
					<RequestQueue>LIF_SEND_QUEUE</RequestQueue>
					
					<ResponseQueue>LIF_RECEIVE_QUEUE</ResponseQueue>-->
					<!-- Defines the request Queue name-->
					<RequestQueue>LIF_1</RequestQueue>
					<!-- Defines the response queue name-->
					<ResponseQueue>LIF_2</ResponseQueue>
					<!-- Defines the type of queue -->
					<QueueType>Static</QueueType>
					<!-- Defines the model queue name-->
					<ModelQueueName>SYSTEM.DEFAULT.MODEL.QUEUE</ModelQueueName>
					<!-- Defines expiry time -->
					<ExpiryTime>6000</ExpiryTime>
					<!-- Defines the time a message needs to be in a queue-->
					<Persistence>Default</Persistence>
					<!-- Defines the timeout that application needs to wait for a Message in millisecond-->
					<TimeOut>30000</TimeOut>
					<!-- Defines if the tracing for HOST calls is ON/OFF-->
					<EnableTrace>OFF</EnableTrace>
				</IBMMQDetails>
			</IBMMQ>
			<HIS>
				<DllPath>C:\LegacyIntegration\Develop\Phase1\Source\LegacyIntegration\HISAdapter\bin\Debug\Infosys.Lif.HIS.dll</DllPath>
				<TypeName>Infosys.Lif.HIS.HISAdapter</TypeName>
				<EnableTrace>OFF</EnableTrace>
			</HIS>
		</LISettings>
	</xmlSerializerSection>
</LIConfiguration>
