<?xml version="1.0" encoding="utf-8"?>
<LIConfiguration>
	<xmlSerializerSection type="Infosys.Lif.LegacyIntegratorService.LISettings,Infosys.Lif.LegacyIntegratorService,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
		<LISettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<!-- Region name which will use TLS for stroing connection-->
			<DefaultTLSTransport>
				<Name>TEST3</Name>
			</DefaultTLSTransport>
			<!--  defines regions and specify transport name and communication type and 
			the corresponding transport details are picked up from the config file -->
			<HostRegion>
				<Region>
					<!-- Host region name-->
					<Name>TEST1</Name>
					<!--Transport medium like IBMMQ, HIS etc-->
					<TransportMedium>IBMMQ</TransportMedium>
					<!--Transport name -->
					<TransportName>ibmmq1</TransportName>
					<!-- Communicatin type (i.e. Synchronous or Asynchronous-->
					<CommunicationType>Sync</CommunicationType>
				</Region>
				<Region>
					<Name>TEST2</Name>
					<TransportMedium>IBMMQ</TransportMedium>
					<TransportName>ibmmq2</TransportName>
					<CommunicationType>Async</CommunicationType>
				</Region>
				<Region>
					<Name>TEST3</Name>
					<TransportMedium>IBMMQ</TransportMedium>
					<TransportName>ibmmq3</TransportName>
					<CommunicationType>Async</CommunicationType>
				</Region>
				<!-- TransportMedium is empty-->
				<Region>
					<Name>TEST4</Name>
					<TransportMedium></TransportMedium>
					<TransportName>ibmmq4</TransportName>
					<CommunicationType>Async</CommunicationType>
				</Region>
				<!-- TransportName is empty. -->
				<Region>
					<Name>TEST5</Name>
					<TransportMedium>IBMMQ</TransportMedium>
					<TransportName></TransportName>
					<CommunicationType>Async</CommunicationType>
				</Region>
				<!-- TransportMedium  specified is invalid (I.e. If it is other than IBMMQ, HIS ) -->
				<Region>
					<Name>TEST6</Name>
					<TransportMedium>NONE</TransportMedium>
					<TransportName>ibmmq6</TransportName>
					<CommunicationType>Async</CommunicationType>
				</Region>
				<!-- TransportName specified in Region does not exist in IBMMQDetails section. i.e ibmqm7 does not
				exist in IBMMQDetails section-->
				<Region>
					<Name>TEST7</Name>
					<TransportMedium>IBMMQ</TransportMedium>
					<TransportName>ibmmq7</TransportName>
					<CommunicationType>Async</CommunicationType>
				</Region>
				<!-- Communication type is not specified for MQ adapter-->
				<Region>
					<Name>TEST8</Name>
					<TransportMedium>IBMMQ</TransportMedium>
					<TransportName>ibmmq8</TransportName>
					<CommunicationType></CommunicationType>
				</Region>
				<!-- Communication type specified for MQ adapter is invalid. i.e. neither Sync nor Async-->
				<Region>
					<Name>TEST9</Name>
					<TransportMedium>IBMMQ</TransportMedium>
					<TransportName>ibmmq9</TransportName>
					<CommunicationType>Async9</CommunicationType>
				</Region>
				<!-- When QueueType specified is neither Static nor Dynamic. i.e. QueueType for ibmmq10 
				in IBMMQDetails section is neither Static nor Dynamic-->
				<Region>
					<Name>TEST10</Name>
					<TransportMedium>IBMMQ</TransportMedium>
					<TransportName>ibmmq10</TransportName>
					<CommunicationType>Sync</CommunicationType>
				</Region>
				<!-- Invalid connection model-->
				<Region>
					<Name>TEST11</Name>
					<TransportMedium>IBMMQ</TransportMedium>
					<TransportName>ibmmq11</TransportName>
					<CommunicationType>Sync</CommunicationType>
				</Region>
				<Region>
					<Name>HIS1</Name>
					<TransportMedium>HIS</TransportMedium>
					<TransportName>his1</TransportName>
					<CommunicationType></CommunicationType>
				</Region>
			</HostRegion>
			<!-- This defines the properties for the IBMMQ transport-->
			<IBMMQ>
				<!-- Defines the path for IBMMQ dll path-->
				<DllPath>C:\LegacyIntegration\Develop\Phase1\Source\LegacyIntegrator\MQAdapter\bin\Debug\Infosys.Lif.IBMMQ.dll</DllPath>
				<!-- Type of Adapter-->
				<TypeName>Infosys.Lif.IBMMQ.MQAdapter</TypeName>
				<!-- Specifies the Connection Model for IBMMQ. If Connection information
					is not specified for the region (i.e for IBMMQDetails), below information is used for that 
					region.-->

				<!-- Indicates maximum time a queue manager object can remain inactive be in a pool -->
				<ActiveTimeForConnection>20000</ActiveTimeForConnection>
				<!--Indicates time interval that MQPoolManager should pool frequently to check whether there
					are any opened MQQueueManager object that is inactive for time more than -->
				<PoolScanFrequency>10000</PoolScanFrequency>

				<IBMMQDetails>
					<TransportName>ibmmq1</TransportName>
					<Connection>
						<ConnectionModel>ConnectionPool</ConnectionModel>
						<Pooling>
							<MinSize>2</MinSize>
							<MaxSize>4</MaxSize>
						</Pooling>
						<ConnectionTimeOut>1000</ConnectionTimeOut>
					</Connection>
					<!-- Defines the channel name where the request is send-->
					<ChannelName>MTC_SERVER_CONN</ChannelName>
					<!-- Defines the connection name-->
					<ConnectionName>192.168.100.74</ConnectionName>
					<!-- Defines the port number -->
					<Port>1414</Port>
					<!-- Defines the queue manager name-->
					<QueueManager>CSQ1</QueueManager>
					<!-- Defines the request Queue name-->
					<RequestQueue>LIF_1</RequestQueue>
					<!-- Defines the response queue name-->
					<ResponseQueue>LIF_2</ResponseQueue>
					<!-- Defines the type of queue -->
					<QueueType>Static</QueueType>
					<!-- Defines the model queue name-->
					<ModelQueueName>SYSTEM.DEFAULT.MODEL.QUEUE</ModelQueueName>
					<!-- Defines expiry time for the message being put into queue-->
					<ExpiryTime>6000</ExpiryTime>
					<!-- Defines the persistent property for a message. Valid values are Persistent, NonPersistent, Default-->
					<Persistence>Default</Persistence>
					<!-- Defines the timeout that application needs to wait for a Message in millisecond-->
					<TimeOut>10000</TimeOut>
					<!-- Defines if the tracing for HOST calls is ON/OFF-->
					<EnableTrace>OFF</EnableTrace>
				</IBMMQDetails>
				<IBMMQDetails>
					<TransportName>ibmmq2</TransportName>
					<Connection>
						<ConnectionModel>ConnectionPool</ConnectionModel>
						<Pooling>
							<MinSize>1</MinSize>
							<MaxSize>3</MaxSize>
						</Pooling>
						<ConnectionTimeOut>1000</ConnectionTimeOut>
					</Connection>
					<ChannelName>MTC_SERVER_CONN</ChannelName>
					<ConnectionName>192.168.100.74</ConnectionName>
					<Port>1414</Port>
					<QueueManager>CSQ1</QueueManager>
					<RequestQueue>LIF_1</RequestQueue>
					<ResponseQueue>LIF_2</ResponseQueue>
					<QueueType>Static</QueueType>
					<ModelQueueName>SYSTEM.DEFAULT.MODEL.QUEUE</ModelQueueName>
					<ExpiryTime>6000</ExpiryTime>
					<Persistence>Default</Persistence>
					<TimeOut>10000</TimeOut>
					<EnableTrace>OFF</EnableTrace>
				</IBMMQDetails>
				<IBMMQDetails>
					<TransportName>ibmmq3</TransportName>
					<Connection>
						<ConnectionModel>TLS</ConnectionModel>
					</Connection>	
					<ChannelName>MTC_SERVER_CONN</ChannelName>
					<ConnectionName>192.168.100.74</ConnectionName>
					<Port>1414</Port>
					<QueueManager>CSQ1</QueueManager>
					<RequestQueue>LIF_1</RequestQueue>
					<ResponseQueue>LIF_2</ResponseQueue>
					<QueueType>Static</QueueType>
					<ModelQueueName>SYSTEM.DEFAULT.MODEL.QUEUE</ModelQueueName>
					<ExpiryTime>6000</ExpiryTime>
					<Persistence>Default</Persistence>
					<TimeOut>1</TimeOut>
					<EnableTrace>OFF</EnableTrace>
				</IBMMQDetails>
				<IBMMQDetails>
					<TransportName>ibmmq4</TransportName>
					<Connection>
						<ConnectionModel>None</ConnectionModel>
					</Connection>
					<ChannelName>MTC_SERVER_CONN</ChannelName>
					<ConnectionName>192.168.100.74</ConnectionName>
					<Port>1414</Port>
					<QueueManager>CSQ1</QueueManager>
					<RequestQueue>LIF_1</RequestQueue>
					<ResponseQueue>LIF_2</ResponseQueue>
					<QueueType>Static</QueueType>
					<ModelQueueName>SYSTEM.DEFAULT.MODEL.QUEUE</ModelQueueName>
					<ExpiryTime>6000</ExpiryTime>
					<Persistence>Default</Persistence>
					<TimeOut>10000</TimeOut>
					<EnableTrace>OFF</EnableTrace>
				</IBMMQDetails>
				<IBMMQDetails>
					<TransportName>ibmmq5</TransportName>
					<Connection>
						<ConnectionModel>None</ConnectionModel>
					</Connection>
					<ChannelName>MTC_SERVER_CONN</ChannelName>
					<ConnectionName>192.168.100.74</ConnectionName>
					<Port>1414</Port>
					<QueueManager>CSQ1</QueueManager>
					<RequestQueue>LIF_1</RequestQueue>
					<ResponseQueue>LIF_2</ResponseQueue>
					<QueueType>Static</QueueType>
					<ModelQueueName>SYSTEM.DEFAULT.MODEL.QUEUE</ModelQueueName>
					<ExpiryTime>6000</ExpiryTime>
					<Persistence>Default</Persistence>
					<TimeOut>10000</TimeOut>
					<EnableTrace>OFF</EnableTrace>
				</IBMMQDetails>
				<IBMMQDetails>
					<TransportName>ibmmq6</TransportName>
					<Connection>
						<ConnectionModel>None</ConnectionModel>
					</Connection>
					<ChannelName>MTC_SERVER_CONN</ChannelName>
					<ConnectionName>192.168.100.74</ConnectionName>
					<Port>1414</Port>
					<QueueManager>CSQ1</QueueManager>
					<RequestQueue>LIF_1</RequestQueue>
					<ResponseQueue>LIF_2</ResponseQueue>
					<QueueType>Static</QueueType>
					<ModelQueueName>SYSTEM.DEFAULT.MODEL.QUEUE</ModelQueueName>
					<ExpiryTime>6000</ExpiryTime>
					<Persistence>Default</Persistence>
					<TimeOut>10000</TimeOut>
					<EnableTrace>OFF</EnableTrace>
				</IBMMQDetails>
				<IBMMQDetails>
					<TransportName>ibmmq100</TransportName>
					<Connection>
						<ConnectionModel>None</ConnectionModel>
					</Connection>
					<ChannelName>MTC_SERVER_CONN</ChannelName>
					<ConnectionName>192.168.100.74</ConnectionName>
					<Port>1414</Port>
					<QueueManager>CSQ1</QueueManager>
					<RequestQueue>LIF_1</RequestQueue>
					<ResponseQueue>LIF_2</ResponseQueue>
					<QueueType>Static</QueueType>
					<ModelQueueName>SYSTEM.DEFAULT.MODEL.QUEUE</ModelQueueName>
					<ExpiryTime>6000</ExpiryTime>
					<Persistence>Default</Persistence>
					<TimeOut>10000</TimeOut>
					<EnableTrace>OFF</EnableTrace>
				</IBMMQDetails>
				<IBMMQDetails>
					<TransportName>ibmmq8</TransportName>
					<Connection>
						<ConnectionModel>None</ConnectionModel>
					</Connection>
					<ChannelName>MTC_SERVER_CONN</ChannelName>
					<ConnectionName>192.168.100.74</ConnectionName>
					<Port>1414</Port>
					<QueueManager>CSQ1</QueueManager>
					<RequestQueue>LIF_1</RequestQueue>
					<ResponseQueue>LIF_2</ResponseQueue>
					<QueueType>Static</QueueType>
					<ModelQueueName>SYSTEM.DEFAULT.MODEL.QUEUE</ModelQueueName>
					<ExpiryTime>6000</ExpiryTime>
					<Persistence>Default</Persistence>
					<TimeOut>10000</TimeOut>
					<EnableTrace>OFF</EnableTrace>
				</IBMMQDetails>
				<IBMMQDetails>
					<TransportName>ibmmq9</TransportName>
					<Connection>
						<ConnectionModel>None</ConnectionModel>
					</Connection>
					<ChannelName>MTC_SERVER_CONN</ChannelName>
					<ConnectionName>192.168.100.74</ConnectionName>
					<Port>1414</Port>
					<QueueManager>CSQ1</QueueManager>
					<RequestQueue>LIF_1</RequestQueue>
					<ResponseQueue>LIF_2</ResponseQueue>
					<QueueType>Static</QueueType>
					<ModelQueueName>SYSTEM.DEFAULT.MODEL.QUEUE</ModelQueueName>
					<ExpiryTime>6000</ExpiryTime>
					<Persistence>Default</Persistence>
					<TimeOut>10000</TimeOut>
					<EnableTrace>OFF</EnableTrace>
				</IBMMQDetails>
				<IBMMQDetails>
					<TransportName>ibmmq10</TransportName>
					<Connection>
						<ConnectionModel>None</ConnectionModel>
					</Connection>
					<ChannelName>MTC_SERVER_CONN</ChannelName>
					<ConnectionName>192.168.100.74</ConnectionName>
					<Port>1414</Port>
					<QueueManager>CSQ1</QueueManager>
					<RequestQueue>LIF_1</RequestQueue>
					<ResponseQueue>LIF_2</ResponseQueue>
					<QueueType></QueueType>
					<ModelQueueName>SYSTEM.DEFAULT.MODEL.QUEUE</ModelQueueName>
					<ExpiryTime>6000</ExpiryTime>
					<Persistence>Default</Persistence>
					<TimeOut>10000</TimeOut>
					<EnableTrace>OFF</EnableTrace>
				</IBMMQDetails>
				<IBMMQDetails>
					<TransportName>ibmmq11</TransportName>
					<Connection>
						<!--Invalid Connection Model -->
						<ConnectionModel>Other</ConnectionModel>
					</Connection>
					<ChannelName>MTC_SERVER_CONN</ChannelName>
					<ConnectionName>192.168.100.74</ConnectionName>
					<Port>1414</Port>
					<QueueManager>CSQ1</QueueManager>
					<RequestQueue>LIF_1</RequestQueue>
					<ResponseQueue>LIF_2</ResponseQueue>
					<QueueType></QueueType>
					<ModelQueueName>SYSTEM.DEFAULT.MODEL.QUEUE</ModelQueueName>
					<ExpiryTime>6000</ExpiryTime>
					<Persistence>Default</Persistence>
					<TimeOut>10000</TimeOut>
					<EnableTrace>OFF</EnableTrace>
				</IBMMQDetails>
			</IBMMQ>
			<HIS>
				<DllPath>C:\LegacyIntegration\Develop\Phase1\Source\LegacyIntegration\HISAdapter\bin\Debug\Infosys.Lif.HIS.dll</DllPath>
				<TypeName>Infosys.Lif.HIS.HISAdapter</TypeName>
			</HIS>
		</LISettings>
	</xmlSerializerSection>
</LIConfiguration>
