<LegacyParserConfigurationSection xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LegacyParserConfigurations>
    <XsdObjectConfig>
      <XsdObjectGeneratorPath>C:\Program Files\XSDObjectGenerator\XSDObjectGen.exe</XsdObjectGeneratorPath>
      <XsdObjectGeneratorArgs>"%schemafilepath%\%schemafile%" /n:%namespace%.%classname% /f:"%filename%"</XsdObjectGeneratorArgs>
    </XsdObjectConfig>
    <Language>COBOL</Language>
    <HostType>CCIS</HostType>
    <StorageType>File</StorageType>
    <LanguageConverters>
      <LanguageConverter name="COBOL" type="Infosys.Lif.LegacyParser.LanguageConverters.Cobol, Infosys.Lif.LegacyParser" />
    </LanguageConverters>
    <HostTypes>
      <HostTypeController name="CCIS" type="Infosys.Lif.LegacyParser.CcisController, Infosys.LIF.LegacyParser.UI" />
    </HostTypes>
    <StorageImplementations>
      <StorageImplementation type="Infosys.Lif.LegacyParser.UI.StorageImplementations.FileStorage, Infosys.Lif.LegacyParser.UI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="File" />
    </StorageImplementations>
  </LegacyParserConfigurations>
</LegacyParserConfigurationSection>
