<?xml version="1.0" encoding="utf-8" ?>

<!-- Root element -->
<!-- LoaderClass contains dll path of loader -->
<!-- LoaderType contains full name of loader class -->
<DataLoaderSettings LoaderClass="CustomLoader.dll" LoaderType ="Infosys.Lif.CustomLoader.XmlDataLoader">

  <!-- Entity contains detail of each entity along with test data sections -->
  <!-- Name : user friendly name of object -->
  <!-- ClassName : fully qualified name of class containing that object -->
  <!-- DefaultSource : file to be loaded in case of no filter conditions-->
  <Entity 
    Name = "Address"
    ClassName = "DataLoaderTest.CrMoPostCode"
    DefaultSource = "CrMoPostCodeXml.xml">

    <!-- Test Data contains particular condition n corresponding file to load object from-->
    <!-- Filter : a particular condition in form of string -->
    <!-- FileName : file to be loaded for that particular condition -->
    <TestData
	    Filter = "id=123"
	    FileName = "CrMoPostCodeXml1.xml">
    </TestData>
    <TestData
        Filter = "id=321"
        FileName = "CrMoPostCodeXml2.xml">
    </TestData>
  </Entity>
  <Entity 
    Name = "PostAdd"
    ClassName = "DataLoaderTest.CrMoPostCode1"
    DefaultSource = "">

    <!-- Test Data contains particular condition n corresponding file to load object from-->
    <!-- Filter : a particular condition in form of string -->
    <!-- FileName : file to be loaded for that particular condition -->
    <TestData
	    Filter = "id=1234"
	    FileName = "CrMoPostCodeXml11.xml">
    </TestData>
    <TestData
        Filter = "id=4321"
        FileName = "CrMoPostCodeXml2.xml">
    </TestData>
  </Entity>
</DataLoaderSettings>
