<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Section Name is the section from DataLoaderSettings.config file -->
    <!-- Type is the full name of file implementing ConfigurationSection -->
    <section name ="DataLoaderSettings" type ="Infosys.Lif.DataLoader.ConfigHandler, DataLoader"/>
  </configSections>
  <!-- configSource is the full name of the config file -->
  <DataLoaderSettings configSource="DataLoaderSettings.config" />
</configuration>