/* You can add global styles to this file, and also import other style files */
/* @import '~angular-tree-component/dist/angular-tree-component.css'; */
.switch {
    position: relative;
    display: inline-block;
    width: 51px;
    height: 23px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 19px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #00A8FF;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #00A8FF;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .auto-refresh{
    font-size: 13px;
    color:#253138;
    font-family: 'Roboto', sans-serif;
    font-weight: 300 !important;
  }

  ::-webkit-scrollbar {
    width: 04px;
    /* color: #33424B; */
    background-color: #263137 ;
    border: 0px ;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px #33424B; 
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    /* -webkit-box-shadow: inset 0 0 4px #ffffff;  */
    background-color:#4A5C68     ;
}
.form-control:focus{
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cursor-pointer{
  cursor: pointer;
}