<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filepath" value="ResponseFiles" />
		<add key="channelName" value="MTC_SERVER_CONN"/>
		<add key="connectionname" value="192.168.100.74(1414)" /> 
		<add key="QueueManager" value="CSQ1" /> 		
		<add key="RequestQueue" value="INFOSYS.LIF.RECEIVER" />
		<add key="ResponseQueue" value="LIF_RECEIVE_QUEUE" />
		<add key="ThreadCount" value="1" />	
		<add key="sleeptime" value="10" />
	</appSettings>
</configuration>
