<?xml version="1.0" encoding="UTF-8"?>
<FacadeConfiguration>
	<xmlSerializerSection type="Infosys.Lif.LegacyConfig.LegacySettings,Infosys.Lif.LegacyConfig,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
		<LegacySettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<Services>
				<Service>
					<ServiceName>GetServiceMQ</ServiceName>
					<SerializerClass>Infosys.Lif.Generated.Serializers.dll</SerializerClass>
						<SerializerType>Infosys.Lif.PerfTest.Serializers.Kicinwa</SerializerType>
						<RegionName>TEST</RegionName>
					</Service>
					<Service>
						<ServiceName>GetServiceMQ1</ServiceName>
						<SerializerClass>Infosys.Lif.Generated.Serializers.dll</SerializerClass>
						<SerializerType>Infosys.Lif.PerfTest.Serializers.Kicinwa</SerializerType>
						<RegionName>TEST</RegionName>
					</Service>
				<Service>
					<ServiceName>GetServiceHIS</ServiceName>
					<SerializerClass>Infosys.Lif.Generated.Serializers.dll</SerializerClass>
					<SerializerType>Infosys.Lif.PerfTest.Serializers.Kicinwa</SerializerType>
					<RegionName>HIS</RegionName>
				</Service>
			</Services>
			<Wrapper>
				<WrapperType>Infosys.Lif.MessageWrapper.CoopCCISHandler</WrapperType>
				<WrapperClass>Infosys.Lif.MessageWrapper.dll</WrapperClass>
			</Wrapper>
		</LegacySettings>
	</xmlSerializerSection>
</FacadeConfiguration>