<?xml version="1.0" encoding="utf-8"?>
<!--
   - (c) 2012-2013 Infosys Limited, Bangalore, India. All Rights Reserved.
   - Version: 1.0 b
   - Except for any open source software components embedded in this Infosys proprietary software program ("Program"),
   - this Program is protected by copyright laws, international treaties and other pending or existing intellectual
   - property rights in India, the United States and other countries. Except as expressly permitted, any unauthorized
   - reproduction, storage, transmission in any form or by any means (including without limitation electronic, mechanical,
   - printing, photocopying, recording or otherwise), or any distribution of this Program, or any portion of it, may
   - results in severe civil and criminal penalties, and will be prosecuted to the maximum extent possible under the law.
 -->
<LISettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- Provide region details of the host -->
  <HostRegion>
    <Region>
      <Name>MetricProcessor</Name>
      <!-- use the transport medium and name from the below mentioned transport types -->
      <TransportMedium>MSMQ</TransportMedium>
      <TransportName>metricchannel</TransportName>
      <!--Communication Type can be "Sync" or "Async" for synchronous and asynchronous respectively -->
      <CommunicationType>Sync</CommunicationType>
    </Region>
    <Region>
      <Name>FrameProcessor</Name>
      <!-- use the transport medium and name from the below mentioned transport types -->
      <TransportMedium>MSMQ</TransportMedium>
      <TransportName>frameprocessorchannel</TransportName>
      <!--Communication Type can be "Sync" or "Async" for synchronous and asynchronous respectively -->
      <CommunicationType>Sync</CommunicationType>
    </Region>
    <Region>
      <Name>FP_1_MemoryQueue</Name>
      <!-- use the transport medium and name from the below mentioned transport types -->
      <TransportMedium>MemoryQueue</TransportMedium>
      <TransportName>FP_1_MemoryQueue</TransportName>
      <!--Communication Type can be "Sync" or "Async" for synchronous and asynchronous respectively -->
      <CommunicationType>Sync</CommunicationType>
    </Region>
     <Region>
      <Name>FP_2_MemoryQueue</Name>
      <!-- use the transport medium and name from the below mentioned transport types -->
      <TransportMedium>MemoryQueue</TransportMedium>
      <TransportName>FP_2_MemoryQueue</TransportName>
      <!--Communication Type can be "Sync" or "Async" for synchronous and asynchronous respectively -->
      <CommunicationType>Async</CommunicationType>
    </Region>
    <Region>
      <Name>fr_1_deviceid_10</Name>
      <!-- use the transport medium and name from the below mentioned transport types -->
      <TransportMedium>MSMQ</TransportMedium>
      <TransportName>fr_1_deviceid_10</TransportName>
      <!--Communication Type can be "Sync" or "Async" for synchronous and asynchronous respectively -->
      <CommunicationType>Sync</CommunicationType>
    </Region>
    <Region>
      <Name>fr_1_deviceid_12</Name>
      <!-- use the transport medium and name from the below mentioned transport types -->
      <TransportMedium>MSMQ</TransportMedium>
      <TransportName>fr_1_deviceid_12</TransportName>
      <!--Communication Type can be "Sync" or "Async" for synchronous and asynchronous respectively -->
      <CommunicationType>Sync</CommunicationType>
    </Region>
    <Region>
      <Name>azure</Name>
      <!-- use the transport medium and name from the below mentioned transport types -->
      <TransportMedium>MSMQ</TransportMedium>
      <TransportName>azure</TransportName>
      <!--Communication Type can be "Sync" or "Async" for synchronous and asynchronous respectively -->
      <CommunicationType>Sync</CommunicationType>
    </Region>
    <Region>
      <Name>api</Name>
      <!-- use the transport medium and name from the below mentioned transport types -->
      <TransportMedium>MSMQ</TransportMedium>
      <TransportName>api</TransportName>
      <!--Communication Type can be "Sync" or "Async" for synchronous and asynchronous respectively -->
      <CommunicationType>Sync</CommunicationType>
    </Region>
    <Region>
      <Name>FrameCollector</Name>
      <!-- use the transport medium and name from the below mentioned transport types -->
      <TransportMedium>MSMQ</TransportMedium>
      <TransportName>framecollector</TransportName>
      <!--Communication Type can be "Sync" or "Async" for synchronous and asynchronous respectively -->
      <CommunicationType>Sync</CommunicationType>
    </Region>
    <Region>
      <Name>FrameRepository</Name>
      <!-- use the transport medium and name from the below mentioned transport types -->
      <TransportMedium>IISDoc</TransportMedium>
      <TransportName>framestore</TransportName>
      <!--Communication Type can be "Sync" or "Async" for synchronous and asynchronous respectively -->
      <CommunicationType>Sync</CommunicationType>
    </Region>
  </HostRegion>
  <IISDoc xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <DllPath>C:\IAP\References\Infosys.Lif.IISDoc.dll</DllPath>
    <TypeName>Infosys.Lif.IIS_DocAdapter</TypeName>
    <IISDocDetails>
      <TransportName>framestore</TransportName>
      <!--The size of the block in KB to be transferred at a time. Default is 1 KB-->
      <DataBlockSize>250</DataBlockSize>
      <!--The virtual directory (VD) where the docs will be uploaded. It has to be after the root VD. i.e. if the 
        upload VD is to be http://locahost/documents/<then the file name>, then the value sould be "documents"-->
      <DocumentsVirtualDirectoryFromRoot>Documents</DocumentsVirtualDirectoryFromRoot>
    </IISDocDetails>
  </IISDoc>

  <MemoryQueue xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <DllPath>C:\Infosys.IntegrationLib\References\Infosys.Lif.MemoryQueue.dll</DllPath>
    <TypeName>Infosys.Lif.MemoryQueueAdapter</TypeName>
    <MemoryQueueDetails>
      <TransportName>FP_1_MemoryQueue</TransportName>
      <QueueName>FP_1_MemoryQueue</QueueName>
      <MessageLabel>frame</MessageLabel>
      <QueueReadingType>Receive</QueueReadingType>
      <QueueReadingMode>Sync</QueueReadingMode>
      <MessageProcessingMaxCount>5</MessageProcessingMaxCount>
      <ReadAndDelete>true</ReadAndDelete>
      <QueueReadTimeout>1000</QueueReadTimeout>
      <!--The time gap (ms) between each polling-->
      <PollingRestDuration>5000</PollingRestDuration>
      <!--To tell if the receive operation once started to be continued indefinitely-->
      <ContinueToReceive>true</ContinueToReceive>
      <!--The sending pattren to be opted, options are RoundRobin, QueueLoad and None. Default is 'None'-->
      <SendPattern>None</SendPattern>
      <!--The secondary queues to be used for scaling-out queues along with the primary queue specified in 'QueueName'. 
        If there are more than one Secondary queues, delimit the queue names by ';', e.g. mypvtqueue2;mypvtqueue3-->
      <SecondaryQueues></SecondaryQueues>
      <!--The maximum number of messages allowed per queue, to be used during QueueLoad send pattern. 
        If SendPattern is not 'None', the default value is 10-->
      <QueueLoadLimit>0</QueueLoadLimit>
      <!--The duration (second) for which the framework will wait for a transaction, 
      if no transaction in the queue it will reinitate the queue in Async receive process -->
      <TransactionWaitTime>5</TransactionWaitTime>
    </MemoryQueueDetails>
    <MemoryQueueDetails>
      <TransportName>FP_2_MemoryQueue</TransportName>
      <QueueName>FP_2_MemoryQueue</QueueName>
      <MessageLabel>frame</MessageLabel>
      <QueueReadingType>Receive</QueueReadingType>
      <QueueReadingMode>Async</QueueReadingMode>
      <MessageProcessingMaxCount>5</MessageProcessingMaxCount>
      <ReadAndDelete>true</ReadAndDelete>
      <QueueReadTimeout>1000</QueueReadTimeout>
      <!--The time gap (ms) between each polling-->
      <PollingRestDuration>5000</PollingRestDuration>
      <!--To tell if the receive operation once started to be continued indefinitely-->
      <ContinueToReceive>true</ContinueToReceive>
      <!--The sending pattren to be opted, options are RoundRobin, QueueLoad and None. Default is 'None'-->
      <SendPattern>None</SendPattern>
      <!--The secondary queues to be used for scaling-out queues along with the primary queue specified in 'QueueName'. 
        If there are more than one Secondary queues, delimit the queue names by ';', e.g. mypvtqueue2;mypvtqueue3-->
      <SecondaryQueues></SecondaryQueues>
      <!--The maximum number of messages allowed per queue, to be used during QueueLoad send pattern. 
        If SendPattern is not 'None', the default value is 10-->
      <QueueLoadLimit>0</QueueLoadLimit>
      <!--The duration (second) for which the framework will wait for a transaction, 
      if no transaction in the queue it will reinitate the queue in Async receive process -->
      <TransactionWaitTime>5</TransactionWaitTime>
    </MemoryQueueDetails>
  </MemoryQueue>

  <MSMQ xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <DllPath>C:\Infosys.IntegrationLib\References\Infosys.Lif.MSMQ.dll</DllPath>
    <TypeName>Infosys.Lif.MSMQAdapter</TypeName>
    <MSMQDetails>
      <TransportName>frameprocessorchannelTest</TransportName>
      <ServerName>localhost</ServerName>
      <QueueName>frameprocessor</QueueName>
      <PoisonQueueName>superbot_poison</PoisonQueueName>
      <MessageLabel>frame</MessageLabel>
      <QueueType>Private</QueueType>
      <QueueReadingType>Receive</QueueReadingType>
      <QueueReadingMode>Sync</QueueReadingMode>
      <MessageProcessingMaxCount>5</MessageProcessingMaxCount>
      <ReadAndDelete>true</ReadAndDelete>
      <MessaseInvisibilityTimeout>20000</MessaseInvisibilityTimeout>
      <QueueReadTimeout>1000</QueueReadTimeout>
      <!--The time gap (ms) between each polling-->
      <PollingRestDuration>5000</PollingRestDuration>
      <!--To tell if the receive operation once started to be continued indefinitely-->
      <ContinueToReceive>true</ContinueToReceive>
      <!--The sending pattren to be opted, options are RoundRobin, QueueLoad and None. Default is 'None'-->
      <SendPattern>None</SendPattern>
      <!--The secondary queues to be used for scaling-out queues along with the primary queue specified in 'QueueName'. 
        If there are more than one Secondary queues, delimit the queue names by ';', e.g. mypvtqueue2;mypvtqueue3-->
      <SecondaryQueues></SecondaryQueues>
      <!--The maximum number of messages allowed per queue, to be used during QueueLoad send pattern. 
        If SendPattern is not 'None', the default value is 10-->
      <QueueLoadLimit>0</QueueLoadLimit>
      <!--The duration (second) for which the framework will wait for a transaction, 
      if no transaction in the queue it will reinitate the queue in Async receive process -->
      <TransactionWaitTime>5</TransactionWaitTime>
    </MSMQDetails>
    <MSMQDetails>
      <TransportName>fr_1_deviceid_10</TransportName>
      <ServerName>localhost</ServerName>
      <QueueName>fr_1_deviceid_10</QueueName>
      <PoisonQueueName>superbot_poison</PoisonQueueName>
      <MessageLabel>frame</MessageLabel>
      <QueueType>Private</QueueType>
      <QueueReadingType>Receive</QueueReadingType>
      <QueueReadingMode>Sync</QueueReadingMode>
      <MessageProcessingMaxCount>5</MessageProcessingMaxCount>
      <ReadAndDelete>true</ReadAndDelete>
      <MessaseInvisibilityTimeout>20000</MessaseInvisibilityTimeout>
      <QueueReadTimeout>1000</QueueReadTimeout>
      <!--The time gap (ms) between each polling-->
      <PollingRestDuration>5000</PollingRestDuration>
      <!--To tell if the receive operation once started to be continued indefinitely-->
      <ContinueToReceive>true</ContinueToReceive>
      <!--The sending pattren to be opted, options are RoundRobin, QueueLoad and None. Default is 'None'-->
      <SendPattern>None</SendPattern>
      <!--The secondary queues to be used for scaling-out queues along with the primary queue specified in 'QueueName'. 
        If there are more than one Secondary queues, delimit the queue names by ';', e.g. mypvtqueue2;mypvtqueue3-->
      <SecondaryQueues></SecondaryQueues>
      <!--The maximum number of messages allowed per queue, to be used during QueueLoad send pattern. 
        If SendPattern is not 'None', the default value is 10-->
      <QueueLoadLimit>0</QueueLoadLimit>
      <!--The duration (second) for which the framework will wait for a transaction, 
      if no transaction in the queue it will reinitate the queue in Async receive process -->
      <TransactionWaitTime>5</TransactionWaitTime>
    </MSMQDetails>
    <MSMQDetails>
      <TransportName>fr_1_deviceid_12</TransportName>
      <ServerName>localhost</ServerName>
      <QueueName>fr_1_deviceid_12</QueueName>
      <PoisonQueueName>superbot_poison</PoisonQueueName>
      <MessageLabel>frame</MessageLabel>
      <QueueType>Private</QueueType>
      <QueueReadingType>Receive</QueueReadingType>
      <QueueReadingMode>Sync</QueueReadingMode>
      <MessageProcessingMaxCount>5</MessageProcessingMaxCount>
      <ReadAndDelete>true</ReadAndDelete>
      <MessaseInvisibilityTimeout>20000</MessaseInvisibilityTimeout>
      <QueueReadTimeout>1000</QueueReadTimeout>
      <!--The time gap (ms) between each polling-->
      <PollingRestDuration>5000</PollingRestDuration>
      <!--To tell if the receive operation once started to be continued indefinitely-->
      <ContinueToReceive>true</ContinueToReceive>
      <!--The sending pattren to be opted, options are RoundRobin, QueueLoad and None. Default is 'None'-->
      <SendPattern>None</SendPattern>
      <!--The secondary queues to be used for scaling-out queues along with the primary queue specified in 'QueueName'. 
        If there are more than one Secondary queues, delimit the queue names by ';', e.g. mypvtqueue2;mypvtqueue3-->
      <SecondaryQueues></SecondaryQueues>
      <!--The maximum number of messages allowed per queue, to be used during QueueLoad send pattern. 
        If SendPattern is not 'None', the default value is 10-->
      <QueueLoadLimit>0</QueueLoadLimit>
      <!--The duration (second) for which the framework will wait for a transaction, 
      if no transaction in the queue it will reinitate the queue in Async receive process -->
      <TransactionWaitTime>5</TransactionWaitTime>
    </MSMQDetails>
    <MSMQDetails>
      <TransportName>azure</TransportName>
      <ServerName>localhost</ServerName>
      <QueueName>framerenderer</QueueName>
      <PoisonQueueName>facemask_poison</PoisonQueueName>
      <MessageLabel>frame</MessageLabel>
      <QueueType>Private</QueueType>
      <QueueReadingType>Receive</QueueReadingType>
      <QueueReadingMode>Sync</QueueReadingMode>
      <MessageProcessingMaxCount>5</MessageProcessingMaxCount>
      <ReadAndDelete>true</ReadAndDelete>
      <MessaseInvisibilityTimeout>20000</MessaseInvisibilityTimeout>
      <QueueReadTimeout>1000</QueueReadTimeout>
      <!--The time gap (ms) between each polling-->
      <PollingRestDuration>5000</PollingRestDuration>
      <!--To tell if the receive operation once started to be continued indefinitely-->
      <ContinueToReceive>true</ContinueToReceive>
      <!--The sending pattren to be opted, options are RoundRobin, QueueLoad and None. Default is 'None'-->
      <SendPattern>None</SendPattern>
      <!--The secondary queues to be used for scaling-out queues along with the primary queue specified in 'QueueName'. 
        If there are more than one Secondary queues, delimit the queue names by ';', e.g. mypvtqueue2;mypvtqueue3-->
      <SecondaryQueues></SecondaryQueues>
      <!--The maximum number of messages allowed per queue, to be used during QueueLoad send pattern. 
        If SendPattern is not 'None', the default value is 10-->
      <QueueLoadLimit>0</QueueLoadLimit>
      <!--The duration (second) for which the framework will wait for a transaction, 
      if no transaction in the queue it will reinitate the queue in Async receive process -->
      <TransactionWaitTime>5</TransactionWaitTime>
    </MSMQDetails>
    <MSMQDetails>
      <TransportName>api</TransportName>
      <ServerName>localhost</ServerName>
      <QueueName>framerendererapi</QueueName>
      <PoisonQueueName>facemask_poison</PoisonQueueName>
      <MessageLabel>frame</MessageLabel>
      <QueueType>Private</QueueType>
      <QueueReadingType>Receive</QueueReadingType>
      <QueueReadingMode>Sync</QueueReadingMode>
      <MessageProcessingMaxCount>5</MessageProcessingMaxCount>
      <ReadAndDelete>true</ReadAndDelete>
      <MessaseInvisibilityTimeout>20000</MessaseInvisibilityTimeout>
      <QueueReadTimeout>1000</QueueReadTimeout>
      <!--The time gap (ms) between each polling-->
      <PollingRestDuration>5000</PollingRestDuration>
      <!--To tell if the receive operation once started to be continued indefinitely-->
      <ContinueToReceive>true</ContinueToReceive>
      <!--The sending pattren to be opted, options are RoundRobin, QueueLoad and None. Default is 'None'-->
      <SendPattern>None</SendPattern>
      <!--The secondary queues to be used for scaling-out queues along with the primary queue specified in 'QueueName'. 
        If there are more than one Secondary queues, delimit the queue names by ';', e.g. mypvtqueue2;mypvtqueue3-->
      <SecondaryQueues></SecondaryQueues>
      <!--The maximum number of messages allowed per queue, to be used during QueueLoad send pattern. 
        If SendPattern is not 'None', the default value is 10-->
      <QueueLoadLimit>0</QueueLoadLimit>
      <!--The duration (second) for which the framework will wait for a transaction, 
      if no transaction in the queue it will reinitate the queue in Async receive process -->
      <TransactionWaitTime>5</TransactionWaitTime>
    </MSMQDetails>
    <MSMQDetails>
      <TransportName>framecollector</TransportName>
      <ServerName>localhost</ServerName>
      <QueueName>framecollector</QueueName>
      <PoisonQueueName>facemask_poison</PoisonQueueName>
      <MessageLabel>frame</MessageLabel>
      <QueueType>Private</QueueType>
      <QueueReadingType>Receive</QueueReadingType>
      <QueueReadingMode>Sync</QueueReadingMode>
      <MessageProcessingMaxCount>5</MessageProcessingMaxCount>
      <ReadAndDelete>true</ReadAndDelete>
      <MessaseInvisibilityTimeout>20000</MessaseInvisibilityTimeout>
      <QueueReadTimeout>1000</QueueReadTimeout>
      <!--The time gap (ms) between each polling-->
      <PollingRestDuration>5000</PollingRestDuration>
      <!--To tell if the receive operation once started to be continued indefinitely-->
      <ContinueToReceive>true</ContinueToReceive>
      <!--The sending pattren to be opted, options are RoundRobin, QueueLoad and None. Default is 'None'-->
      <SendPattern>None</SendPattern>
      <!--The secondary queues to be used for scaling-out queues along with the primary queue specified in 'QueueName'. 
        If there are more than one Secondary queues, delimit the queue names by ';', e.g. mypvtqueue2;mypvtqueue3-->
      <SecondaryQueues></SecondaryQueues>
      <!--The maximum number of messages allowed per queue, to be used during QueueLoad send pattern. 
        If SendPattern is not 'None', the default value is 10-->
      <QueueLoadLimit>0</QueueLoadLimit>
      <!--The duration (second) for which the framework will wait for a transaction, 
      if no transaction in the queue it will reinitate the queue in Async receive process -->
      <TransactionWaitTime>5</TransactionWaitTime>
    </MSMQDetails>
    <MSMQDetails>
      <TransportName>metricchannel</TransportName>
      <ServerName>localhost</ServerName>
      <QueueName>healthcheckmetrics</QueueName>
      <PoisonQueueName>superbot_poison</PoisonQueueName>
      <MessageLabel>metric</MessageLabel>
      <QueueType>Private</QueueType>
      <QueueReadingType>Receive</QueueReadingType>
      <QueueReadingMode>Sync</QueueReadingMode>
      <MessageProcessingMaxCount>5</MessageProcessingMaxCount>
      <ReadAndDelete>true</ReadAndDelete>
      <MessaseInvisibilityTimeout>20000</MessaseInvisibilityTimeout>
      <QueueReadTimeout>1000</QueueReadTimeout>
      <!--The time gap (ms) between each polling-->
      <PollingRestDuration>5000</PollingRestDuration>
      <!--To tell if the receive operation once started to be continued indefinitely-->
      <ContinueToReceive>true</ContinueToReceive>
      <!--The sending pattren to be opted, options are RoundRobin, QueueLoad and None. Default is 'None'-->
      <SendPattern>None</SendPattern>
      <!--The secondary queues to be used for scaling-out queues along with the primary queue specified in 'QueueName'. 
        If there are more than one Secondary queues, delimit the queue names by ';', e.g. mypvtqueue2;mypvtqueue3-->
      <SecondaryQueues></SecondaryQueues>
      <!--The maximum number of messages allowed per queue, to be used during QueueLoad send pattern. 
        If SendPattern is not 'None', the default value is 10-->
      <QueueLoadLimit>0</QueueLoadLimit>
      <!--The duration (second) for which the framework will wait for a transaction, 
      if no transaction in the queue it will reinitate the queue in Async receive process -->
      <TransactionWaitTime>5</TransactionWaitTime>
    </MSMQDetails>
  </MSMQ>
</LISettings>
