<?xml version="1.0" encoding="utf-8" ?>
<LISettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- Provide region details of the host -->
  <HostRegion>
    <Region>
      <Name>TEST</Name>
      <!-- use the transport medium and name from the below mentioned transport types -->
      <TransportMedium>IISDoc</TransportMedium>
      <TransportName>iisdoc1</TransportName>
      <!--Communication Type can be "Sync" or "Async" for synchronous and asynchronous respectively -->
      <CommunicationType>Sync</CommunicationType>
    </Region>
  </HostRegion>

  <!-- Provide all details required for IBMMQ transport -->
  <IBMMQ>
    <!-- provide dll path and full type of transport adapter to be used -->
    <DllPath>D:\TFS\LegacyIntegration\LIF\Code\Release\LegacyIntegrator\MQAdapter\Infosys.Lif.IBMMQ.dll</DllPath>
    <TypeName>Infosys.Lif.IBMMQ.MQAdapter</TypeName>
    <ActiveTimeForConnection>30000</ActiveTimeForConnection>
    <PoolScanFrequency>20000</PoolScanFrequency>
    <EnablePerformanceCounters>OFF</EnablePerformanceCounters>
    <IBMMQDetails>
      <TransportName>ibmmq1</TransportName>
      <!-- provide connection details for IBMMQ -->
      <Connection>
        <ConnectionModel>ConnectionPool</ConnectionModel>
        <Pooling>
          <MinSize>2</MinSize>
          <MaxSize>4</MaxSize>
        </Pooling>
        <ConnectionTimeOut>10000</ConnectionTimeOut>
      </Connection>
      <!-- IBMMQ channel name -->
      <ChannelName>MTC_SERVER_CONN</ChannelName>
      <!-- IP address and port of host -->
      <ConnectionName>localhost</ConnectionName>
      <Port>1414</Port>
      <!-- Queue details for managing MQ request/response -->
      <QueueManager>CSQ1</QueueManager>
      <RequestQueue>INFOSYS.LIF.RECEIVER</RequestQueue>
      <ResponseQueue>MTC.LIF.TRIALQ.RESPONSE</ResponseQueue>
      <QueueType>Static</QueueType>
      <ModelQueueName>INFOSYS.LIF.DYNAMICREC</ModelQueueName>
      <ExpiryTime>60000</ExpiryTime>
      <Persistence>NonPersistent</Persistence>
      <TimeOut>60000</TimeOut>
      <EnableTrace>ON</EnableTrace>
    </IBMMQDetails>


  </IBMMQ>

  <!-- Provide all details required for TCPIP transport -->
  <TCPIP>
    <!-- provide dll path and full type of transport adapter to be used -->
    <DllPath>D:\Work\Cloud\OEMOrderApp\References\Adapter\TCPIPAdapter.dll</DllPath>
    <TypeName>Infosys.Lif.TCPIP.TCPIPAdapter</TypeName>
    <TCPIPDetails>
      <TransportName>tcpip1</TransportName>
      <Mode>Standard</Mode>
      <!-- IP address and port of host -->
      <IPAddress>localhost</IPAddress>
      <Port>3010</Port>
      <TimeOut>2000</TimeOut>
      <TransactionID>MSCS</TransactionID>
      <!-- The listener program to call on host -->
      <HostProgID>LEARNPRG</HostProgID>
      <EnableTrace>ON</EnableTrace>
      <EnablePerformanceCounters>OFF</EnablePerformanceCounters>
      <!-- provide all connection details -->
      <Connection>
        <ConnectionModel>None</ConnectionModel>
        <Pooling>
          <MinSize>0</MinSize>
          <MaxSize>1</MaxSize>
        </Pooling>
        <ConnectionTimeOut>1000</ConnectionTimeOut>
      </Connection>
    </TCPIPDetails>


  </TCPIP>

  <!-- Provide details for using HIS to communicate with the host -->
  <HIS>
    <!-- provide dll path and full type of transport adapter to be used -->
    <DllPath></DllPath>
    <TypeName></TypeName>
    <EnableTrace></EnableTrace>
  </HIS>

  <!-- Provide all details for communicating with MSMQ -->
  <MSMQ xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <DllPath>D:\TFS\LegacyIntegration\LIF\Code\Release\LegacyIntegrator\MSMQAdapter\Infosys.Lif.MSMQ.dll</DllPath>
    <TypeName>Infosys.Lif.MSMQAdapter</TypeName>
    <MSMQDetails>
      <TransportName>msmq1</TransportName>
      <!--The Server where the MSMQ is installed-->
      <ServerName>blrkec1234d</ServerName>
      <!--The main processing Queue-->
      <QueueName>mypvtqueue</QueueName>
      <!--The Queue for the poison message-->
      <PoisonQueueName>poisonqueue</PoisonQueueName>
      <!--The label on the message, can be used to categorize-->
      <MessageLabel>stub</MessageLabel>
      <!--QueueType can be Private or Public-->
      <QueueType>Private</QueueType>
      <!--QueueReadingType can be Receive or Peek-->
      <QueueReadingType>Receive</QueueReadingType>
      <!--QueueReadingMode can be Sync or Async-->
      <QueueReadingMode>Sync</QueueReadingMode>
      <!--The Maximum number of trial for processing a message before being pushed to poison queue-->
      <MessageProcessingMaxCount>2</MessageProcessingMaxCount>
      <!--Boolean to depict if the message is to be deleted immediately after Receive call i.e. no need for explicit Delete call.
        False- the message will be made invisible for duration same as MessaseInvisibilityTimeout.
        Not needed for the newMSMQAdapter-->
      <ReadAndDelete>false</ReadAndDelete>
      <!--The duration (ms)  for which the message is made invisible aftre it is read.-->
      <MessaseInvisibilityTimeout>20000</MessaseInvisibilityTimeout>
      <!--The duration (ms) for which the framework will try to look for message (if not received any) in the queue in each trial-->
      <QueueReadTimeout>1000</QueueReadTimeout>
      <!--The time gap (ms) between each polling-->
      <PollingRestDuration>5000</PollingRestDuration>
      <!--To tell if the receive operation once started to be continued indefinitely-->
      <ContinueToReceive>true</ContinueToReceive>
      <!--The duration (second) for which the framework will wait for a transaction, 
      if no transaction in the queue it will reinitate the queue in Async receive process -->
      <TransactionWaitTime>5</TransactionWaitTime>
    </MSMQDetails>
  </MSMQ>
  <MemoryQueue xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <DllPath>C:\Infosys.IntegrationLib\References\Infosys.Lif.MemoryQueue.dll</DllPath>
    <TypeName>Infosys.Lif.MemoryQueueAdapter</TypeName>
    <MemoryQueueDetails>
      <TransportName>FP_1_MemoryQueue</TransportName>
      <!--The main processing Queue-->
      <QueueName>FP_1_MemoryQueue</QueueName>
      <!--The label on the message, can be used to categorize-->
      <MessageLabel>frame</MessageLabel>
      <!--QueueReadingType can be Receive or Peek-->
      <QueueReadingType>Receive</QueueReadingType>
      <!--QueueReadingMode can be Sync or Async-->
      <QueueReadingMode>Sync</QueueReadingMode>
      <!--The Maximum number of trial for processing a message before being pushed to poison queue-->
      <MessageProcessingMaxCount>2</MessageProcessingMaxCount>
      <!--Boolean to depict if the message is to be deleted immediately after Receive call i.e. no need for explicit Delete call.
        False- the message will be made invisible for duration same as MessaseInvisibilityTimeout -->
      <ReadAndDelete>true</ReadAndDelete>
      <!--The duration (ms) for which the framework will try to look for message (if not received any) in the queue in each trial-->
      <QueueReadTimeout>1000</QueueReadTimeout>
      <!--The time gap (ms) between each polling-->
      <PollingRestDuration>5000</PollingRestDuration>
      <!--To tell if the receive operation once started to be continued indefinitely-->
      <ContinueToReceive>true</ContinueToReceive>
      <!--The sending pattren to be opted, options are RoundRobin, QueueLoad and None. Default is 'None'-->
      <SendPattern>None</SendPattern>
      <!--The secondary queues to be used for scaling-out queues along with the primary queue specified in 'QueueName'. 
        If there are more than one Secondary queues, delimit the queue names by ';', e.g. mypvtqueue2;mypvtqueue3-->
      <SecondaryQueues></SecondaryQueues>
      <!--The maximum number of messages allowed per queue, to be used during QueueLoad send pattern. 
        If SendPattern is not 'None', the default value is 10-->
      <QueueLoadLimit>0</QueueLoadLimit>
      <!--The duration (second) for which the framework will wait for a transaction, 
      if no transaction in the queue it will reinitate the queue in Async receive process -->
      <TransactionWaitTime>5</TransactionWaitTime>
    </MemoryQueueDetails>
  </MemoryQueue>
  <!-- Provide all details Document handling through IIS -->
  <IISDoc xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <DllPath>D:\TFS\LegacyIntegration\LIF\Code\Release\LegacyIntegrator\IIS_DocAdapter\Infosys.Lif.IISDoc.dll</DllPath>
    <TypeName>Infosys.Lif.IIS_DocAdapter</TypeName>
    <IISDocDetails>
      <TransportName>iisdoc1</TransportName>
      <!--The size of the block in KB to be transferred at a time. Default if 1 KB-->
      <DataBlockSize>2</DataBlockSize>
      <!--The virtual directory (VD) where the docs will be uploaded. It has to be after the root VD. i.e. if the 
        upload VD is to be http://locahost/documents/<then the file name>, then the value sould be "documents"-->
      <DocumentsVirtualDirectoryFromRoot>Documents</DocumentsVirtualDirectoryFromRoot>
    </IISDocDetails>
  </IISDoc>
  <!-- Provide all details Document handling through Memory -->
  <MemoryDoc xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <DllPath>C:\Infosys.IntegrationLib\References\Infosys.Lif.MemoryDoc.dll</DllPath>
    <TypeName>Infosys.Lif.MemoryDocAdapter</TypeName>
    <MemoryDocDetails>
      <TransportName>framestore</TransportName>
      <!--The size of the block in KB to be transferred at a time. Default is 1 KB-->
      <DataBlockSize>250</DataBlockSize>
      <!--The virtual directory (VD) where the docs will be uploaded. It has to be after the root VD. i.e. if the 
        upload VD is to be http://locahost/documents/<then the file name>, then the value sould be "documents"-->
      <DocumentsVirtualDirectoryFromRoot>Documents</DocumentsVirtualDirectoryFromRoot>
      <!-- Memory Cache Sliding Expiration duration InMins-->
      <MemoryCacheSlidingExpirationInMins>60.0</MemoryCacheSlidingExpirationInMins>
    </MemoryDocDetails>
  </MemoryDoc>
  
</LISettings>


