<?xml version="1.0" encoding="UTF-8"?>
<LegacySettings>
	<xmlSerializerSection type="Infosys.Lif.LegacyConfig.LegacySettings,Infosys.Lif.LegacyConfig,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
		<LegacySettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<Services>
				<Service>
					<ServiceName>GetServiceMQ</ServiceName>
					<CacheEnabled>ON</CacheEnabled>
					<CacheIdentifier>Id,Name</CacheIdentifier>
					<SerializerClass>Infosys.Lif.Generated.Parsers.Root.dll</SerializerClass>
						<SerializerType>ParserGenerated.Output.Parsers.Kicinwa</SerializerType>
						<RegionName>TEST</RegionName>
					</Service>
					<Service>
						<ServiceName>GetServiceMQ1</ServiceName>
						<CacheEnabled>OFF</CacheEnabled>
						<CacheIdentifier></CacheIdentifier>
						<SerializerClass>Infosys.Lif.Generated.Parsers.Root.dll</SerializerClass>
						<SerializerType>ParserGenerated.Output.Parsers.Kicinwa</SerializerType>
						<RegionName>TEST</RegionName>
					</Service>
					<Service>
						<ServiceName>GetServiceHIS</ServiceName>
						<CacheEnabled>OFF</CacheEnabled>
						<CacheIdentifier></CacheIdentifier>
					<SerializerClass>Infosys.Lif.Generated.Parsers.Root.dll</SerializerClass>
					<SerializerType>ParserGenerated.Output.Parsers.Kicinwa</SerializerType>
					<RegionName>HIS</RegionName>
				</Service>
			</Services>
			<Wrapper>
				<WrapperType>Infosys.Lif.MessageWrapper.ProtocolHandler</WrapperType>
				<WrapperClass>Infosys.Lif.MessageWrapper.dll</WrapperClass>
			</Wrapper>
		</LegacySettings>
	</xmlSerializerSection>
</FacadeConfiguration>