<?xml version="1.0" encoding="UTF-8"?>
<LegacySettings>
  <Services>

    <Service>
      <ServiceName>ProcessPolicy</ServiceName>
      <CacheEnabled>ON</CacheEnabled>
      <CacheIdentifier>ClientPolicyInfoCollection.Custid,ClientPolicyInfoCollection.Status</CacheIdentifier>
      <SerializerClass>D:\wcfcode\Release\ClaimAppContractSerializer.dll</SerializerClass>
      <SerializerType>ClaimAppContractSerializer.ClientPolicyContractSerializer</SerializerType>
      <RegionName>TEST</RegionName>
    </Service>

    <Service>
      <ServiceName>AccountDetails</ServiceName>
      <CacheEnabled>ON</CacheEnabled>
      <CacheIdentifier>Id</CacheIdentifier>
      <SerializerClass>D:\wcfcode\Release\ClaimAppContractSerializer.dll</SerializerClass>
      <SerializerType>ClaimAppContractSerializer.AccountDetailsSerializer</SerializerType>
      <RegionName>TEST</RegionName>
    </Service>

    <Service>
      <ServiceName>MiniContract</ServiceName>
      <CacheEnabled>ON</CacheEnabled>
      <CacheIdentifier>Id</CacheIdentifier>
      <SerializerClass>D:\wcfcode\Release\ClaimAppContractSerializer.dll</SerializerClass>
      <SerializerType>ClaimAppContractSerializer.MiniContractSerializer</SerializerType>
      <RegionName>TEST</RegionName>
    </Service>

    <Service>
      <ServiceName>VehicleDetails</ServiceName>
      <CacheEnabled>ON</CacheEnabled>
      <CacheIdentifier>Id</CacheIdentifier>
      <SerializerClass>D:\wcfcode\Release\ClaimAppContractSerializer.dll</SerializerClass>
      <SerializerType>ClaimAppContractSerializer.VehicleDetailsSerializer</SerializerType>
      <RegionName>TEST</RegionName>
    </Service>

    <Service>
      <ServiceName>ClaimDetails</ServiceName>
      <CacheEnabled>ON</CacheEnabled>
      <CacheIdentifier>Id</CacheIdentifier>
      <SerializerClass>D:\wcfcode\Release\ClaimAppContractSerializer.dll</SerializerClass>
      <SerializerType>ClaimAppContractSerializer.ClaimDetailsSerializer</SerializerType>
      <RegionName>TEST</RegionName>
    </Service>

  </Services>
  <Wrapper>
    <WrapperType>Infosys.Lif.MessageWrapper.ProtocolHandler</WrapperType>
    <WrapperClass>D:\wcfcode\References\LegacyFacade\Infosys.Lif.MessageWrapper.dll</WrapperClass>
  </Wrapper>
  <EnablePerformanceCounters>OFF</EnablePerformanceCounters>
</LegacySettings>
