<?xml version="1.0" encoding="utf-8"?>
<LIConfiguration>
	<xmlSerializerSection type="Infosys.Lif.LegacyIntegratorService.LISettings,Infosys.Lif.LegacyIntegratorService,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
		<LISettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<!-- Region name which will use TLS for stroing connection-->
			<!--  defines regions and specify transport name and communication type and 
			the corresponding transport details are picked up from the config file -->
			<HostRegion>
				<Region>
					<!-- Host region name-->
					<Name>TEST</Name>
					<!--Transport medium like IBMMQ, HIS etc-->
					<TransportMedium>IBMMQ</TransportMedium>
					<!--Transport name -->
					<TransportName>ibmmq1</TransportName>
					<!-- Communicatin type (i.e. Synchronous or Asynchronous-->
					<CommunicationType>Sync</CommunicationType>
				</Region>
				<Region>
					<Name>TEST2</Name>
					<TransportMedium>IBMMQ</TransportMedium>
					<TransportName>ibmmq2</TransportName>
					<CommunicationType>Async</CommunicationType>
				</Region>
				<Region>
					<Name>TEST3</Name>
					<TransportMedium>IBMMQ</TransportMedium>
					<TransportName>ibmmq3</TransportName>
					<CommunicationType>Sync</CommunicationType>
				</Region>
				<Region>
					<Name>HIS</Name>
					<TransportMedium>HIS</TransportMedium>
					<TransportName>his1</TransportName>
					<CommunicationType></CommunicationType>
				</Region>
			</HostRegion>
			<!-- This defines the properties for the IBMMQ transport-->
			<IBMMQ>
				<!-- Defines the path for IBMMQ dll path-->
				<DllPath>C:\LIF\Code\Framework\LegacyFacade\LegacyFacadeUnitTest\LegacyFacadeUnitTest\References\Infosys.Lif.IBMMQ.dll</DllPath>
				<!-- Type of Adapter-->
				<TypeName>Infosys.Lif.IBMMQ.MQAdapter</TypeName>

				<!-- Indicates maximum time a queue manager object can remain inactive be in a pool -->
				<ActiveTimeForConnection>20000</ActiveTimeForConnection>
				<!--Indicates time interval that MQPoolManager should pool frequently to check whether there
				are any opened MQQueueManager object that is inactive for time more than ActiveTimeForConnection.-->
				<PoolScanFrequency>10000</PoolScanFrequency>

				<!-- specifies the Connection Model for IBMMQ. If Connection information
				is not specified for the region (i.e for IBMMQDetails), below information is used for that 
				region.-->
				<Connection>
					<!-- ConnectionModel is either ConnectionPool or None -->
					<ConnectionModel>None</ConnectionModel>
				</Connection>
				<IBMMQDetails>
					<TransportName>ibmmq1</TransportName>
					<!-- Defines the channel name where the request is send-->
					<ChannelName>MTC_SERVER_CONN</ChannelName>
					<!-- Defines the connection name-->
					<ConnectionName>192.168.100.74</ConnectionName>
					<!-- Defines the port number -->
					<Port>1414</Port>
					<!-- Defines the queue manager name-->
					<QueueManager>CSQ1</QueueManager>
					<!-- Defines the request Queue name-->
					<RequestQueue>RECEIVE_QUEUE</RequestQueue>
					<!-- Defines the response queue name-->
					<ResponseQueue>SEND_QUEUE</ResponseQueue>
					<!-- Defines the type of queue -->
					<QueueType>Static</QueueType>
					<!-- Defines the model queue name-->
					<ModelQueueName>SYSTEM.DEFAULT.MODEL.QUEUE</ModelQueueName>
					<!-- Defines expiry time -->
					<ExpiryTime>6000</ExpiryTime>
					<!-- Defines the time a message needs to be in a queue-->
					<Persistence>Persistent</Persistence>
					<!-- Defines the timeout that application needs to wait for a Message in millisecond-->
					<TimeOut>10000</TimeOut>
					<!-- Defines if the tracing for HOST calls is ON/OFF-->
					<EnableTrace>OFF</EnableTrace>
				</IBMMQDetails>
				<IBMMQDetails>
					<TransportName>ibmmq2</TransportName>
					<ChannelName>MTC_SERVER_CONN</ChannelName>
					<ConnectionName>192.168.100.74</ConnectionName>
					<Port>1414</Port>
					<QueueManager>CSQ1</QueueManager>
					<RequestQueue>LIF_1</RequestQueue>
					<ResponseQueue>LIF_2</ResponseQueue>
					<QueueType>Static</QueueType>
					<ModelQueueName>SYSTEM.DEFAULT.MODEL.QUEUE</ModelQueueName>
					<ExpiryTime>6000</ExpiryTime>
					<Persistence>Persistent</Persistence>
					<TimeOut>10000</TimeOut>
					<EnableTrace>OFF</EnableTrace>
				</IBMMQDetails>
				<IBMMQDetails>
					<TransportName>ibmmq3</TransportName>
					<ChannelName>MTC_SERVER_CONN</ChannelName>
					<ConnectionName>192.168.100.74</ConnectionName>
					<Port>1414</Port>
					<QueueManager>CSQ1</QueueManager>
					<RequestQueue>LIF_1</RequestQueue>
					<ResponseQueue>LIF_2</ResponseQueue>
					<QueueType>Static</QueueType>
					<ModelQueueName>SYSTEM.DEFAULT.MODEL.QUEUE</ModelQueueName>
					<ExpiryTime>6000</ExpiryTime>
					<Persistence>Persistent</Persistence>
					<TimeOut>10000</TimeOut>
					<EnableTrace>OFF</EnableTrace>
				</IBMMQDetails>
			</IBMMQ>
			<HIS>
				<DllPath>C:\LIF\Code\Framework\LegacyFacade\LegacyFacadeUnitTest\LegacyFacadeUnitTest\References\Infosys.Lif.HIS.dll</DllPath>
				<TypeName>Infosys.Lif.HIS.HISAdapter</TypeName>
				<EnableTrace>OFF</EnableTrace>
			</HIS>
		</LISettings>
	</xmlSerializerSection>
</LIConfiguration>
